.vs/CMake Overview
.vs/cmake.db
.vs/ProjectSettings.json
.vs/sLink/CopilotIndices/17.14.719.50355/CodeChunks.db
.vs/sLink/CopilotIndices/17.14.719.50355/SemanticSymbols.db
.vs/sLink/FileContentIndex/0dbf24c9-b48e-4b64-a385-5db61ed0020d.vsidx
.vs/sLink/FileContentIndex/2401b9f4-70a8-45f5-99f0-804f69a095c7.vsidx
.vs/sLink/FileContentIndex/418b7c98-4906-482d-95c2-4e4a7b44504d.vsidx
.vs/sLink/FileContentIndex/9bd731f7-707d-42a6-b994-950050405f73.vsidx
.vs/sLink/FileContentIndex/df184935-97db-4255-a496-abd9b522ed24.vsidx
.vs/sLink/v17/.wsuo
.vs/sLink/v17/Browse.VC.db
.vs/sLink/v17/DocumentLayout.backup.json
.vs/sLink/v17/DocumentLayout.json
.vs/sLink/v17/ipch/AutoPCH/1b8860719e2c2e33/CLIENTAPPLICATION.ipch
.vs/sLink/v17/ipch/AutoPCH/36e64f92eeff771e/APPLICATION.ipch
.vs/sLink/v17/ipch/AutoPCH/3b2ec423d000651a/VCTMP12956_961896.MAIN.00000000.ipch
.vs/sLink/v17/ipch/AutoPCH/3fdcff12e5ab3ef4/CLIENTAPPLICATION.ipch
.vs/sLink/v17/ipch/AutoPCH/5e8ec867f14db6d2/VCTMP14412_618625.RENDERER.00000000.ipch
.vs/sLink/v17/ipch/AutoPCH/7544505ac9672ff2/VCTMP12956_528101.RENDERER.00000000.ipch
.vs/sLink/v17/ipch/AutoPCH/76f297f44c4c02fd/SAFEQUEUE.ipch
.vs/sLink/v17/ipch/AutoPCH/7f97155efdee0872/VCTMP12956_342257.RENDERER.00000000.ipch
.vs/sLink/v17/ipch/AutoPCH/881797e4ce903f97/MAIN.ipch
.vs/sLink/v17/ipch/AutoPCH/9add5bb972e3a3f8/RENDERER.ipch
.vs/sLink/v17/ipch/AutoPCH/a2907d50a9176e0a/VCTMP14412_406826.MAIN.00000000.HEAD.ipch
.vs/sLink/v17/ipch/AutoPCH/c8341a2d15d66b3/SERVERAPPLICATION.ipch
.vs/sLink/v17/ipch/AutoPCH/caf47e226382de82/CLIENT.ipch
.vs/sLink/v17/Solution.VC.db
.vs/sLink/v17/workspaceFileList.bin
.vs/slnx.sqlite
.vs/VSWorkspaceState.json
out/build/x64-Debug/.cmake/api/v1/query/client-MicrosoftVS/query.json
out/build/x64-Debug/.cmake/api/v1/reply/cache-v2-c1e50a74e4578e6feb27.json
out/build/x64-Debug/.cmake/api/v1/reply/cmakeFiles-v1-8ccdba036a6cef35662e.json
out/build/x64-Debug/.cmake/api/v1/reply/codemodel-v2-add05f5155d202e6a4f0.json
out/build/x64-Debug/.cmake/api/v1/reply/directory-.-Debug-d0094a50bb2071803777.json
out/build/x64-Debug/.cmake/api/v1/reply/directory-client-Debug-3c37cf1077c78f229df7.json
out/build/x64-Debug/.cmake/api/v1/reply/directory-common-Debug-df8a23303754f0cfc2e1.json
out/build/x64-Debug/.cmake/api/v1/reply/directory-external-Debug-d8969718d56d94ae4e32.json
out/build/x64-Debug/.cmake/api/v1/reply/directory-external.glfw-Debug-b96630dc3b512a6f2522.json
out/build/x64-Debug/.cmake/api/v1/reply/directory-external.glfw.src-Debug-15f204d899981bcbcf18.json
out/build/x64-Debug/.cmake/api/v1/reply/directory-server-Debug-ca16530337ce509e32d1.json
out/build/x64-Debug/.cmake/api/v1/reply/index-2026-02-07T12-38-49-0950.json
out/build/x64-Debug/.cmake/api/v1/reply/target-common_shared-Debug-98a8f2ee9bf446116ccc.json
out/build/x64-Debug/.cmake/api/v1/reply/target-glfw-Debug-bb1f8a3e318149c5a117.json
out/build/x64-Debug/.cmake/api/v1/reply/target-imgui_lib-Debug-e62f810d5c95974ad0a4.json
out/build/x64-Debug/.cmake/api/v1/reply/target-sLink_Client-Debug-e9e5bf9542cf9f40a787.json
out/build/x64-Debug/.cmake/api/v1/reply/target-sLink_Server-Debug-8c502e76a0e594969323.json
out/build/x64-Debug/.cmake/api/v1/reply/target-uninstall-Debug-1ef3f1da1d65bbd97c02.json
out/build/x64-Debug/.cmake/api/v1/reply/target-update_mappings-Debug-5f7b1ea14553ed12df86.json
out/build/x64-Debug/.cmake/api/v1/reply/toolchains-v1-b8873268ae84efd010b2.json
out/build/x64-Debug/.ninja_deps
out/build/x64-Debug/.ninja_log
out/build/x64-Debug/build.ninja
out/build/x64-Debug/client/cmake_install.cmake
out/build/x64-Debug/client/CMakeFiles/sLink_Client.dir/CXX.dd
out/build/x64-Debug/client/CMakeFiles/sLink_Client.dir/CXXDependInfo.json
out/build/x64-Debug/client/CMakeFiles/sLink_Client.dir/CXXModules.json
out/build/x64-Debug/client/CMakeFiles/sLink_Client.dir/embed.manifest
out/build/x64-Debug/client/CMakeFiles/sLink_Client.dir/intermediate.manifest
out/build/x64-Debug/client/CMakeFiles/sLink_Client.dir/manifest.rc
out/build/x64-Debug/client/CMakeFiles/sLink_Client.dir/manifest.res
out/build/x64-Debug/client/CMakeFiles/sLink_Client.dir/src/client/Client.cpp.obj
out/build/x64-Debug/client/CMakeFiles/sLink_Client.dir/src/client/Client.cpp.obj.ddi
out/build/x64-Debug/client/CMakeFiles/sLink_Client.dir/src/client/Client.cpp.obj.modmap
out/build/x64-Debug/client/CMakeFiles/sLink_Client.dir/src/client_application/ClientApplication.cpp.obj
out/build/x64-Debug/client/CMakeFiles/sLink_Client.dir/src/client_application/ClientApplication.cpp.obj.ddi
out/build/x64-Debug/client/CMakeFiles/sLink_Client.dir/src/client_application/ClientApplication.cpp.obj.modmap
out/build/x64-Debug/client/CMakeFiles/sLink_Client.dir/src/main.cpp.obj
out/build/x64-Debug/client/CMakeFiles/sLink_Client.dir/src/main.cpp.obj.ddi
out/build/x64-Debug/client/CMakeFiles/sLink_Client.dir/src/main.cpp.obj.modmap
out/build/x64-Debug/client/CMakeFiles/sLink_Client.dir/vc140.pdb
out/build/x64-Debug/client/sLink_Client.exe
out/build/x64-Debug/client/sLink_Client.ilk
out/build/x64-Debug/client/sLink_Client.pdb
out/build/x64-Debug/cmake_install.cmake
out/build/x64-Debug/CMakeCache.txt
out/build/x64-Debug/CMakeFiles/3.31.6-msvc6/CMakeCCompiler.cmake
out/build/x64-Debug/CMakeFiles/3.31.6-msvc6/CMakeCXXCompiler.cmake
out/build/x64-Debug/CMakeFiles/3.31.6-msvc6/CMakeDetermineCompilerABI_C.bin
out/build/x64-Debug/CMakeFiles/3.31.6-msvc6/CMakeDetermineCompilerABI_CXX.bin
out/build/x64-Debug/CMakeFiles/3.31.6-msvc6/CMakeRCCompiler.cmake
out/build/x64-Debug/CMakeFiles/3.31.6-msvc6/CMakeSystem.cmake
out/build/x64-Debug/CMakeFiles/3.31.6-msvc6/CompilerIdC/CMakeCCompilerId.c
out/build/x64-Debug/CMakeFiles/3.31.6-msvc6/CompilerIdC/CMakeCCompilerId.exe
out/build/x64-Debug/CMakeFiles/3.31.6-msvc6/CompilerIdC/CMakeCCompilerId.obj
out/build/x64-Debug/CMakeFiles/3.31.6-msvc6/CompilerIdCXX/CMakeCXXCompilerId.cpp
out/build/x64-Debug/CMakeFiles/3.31.6-msvc6/CompilerIdCXX/CMakeCXXCompilerId.exe
out/build/x64-Debug/CMakeFiles/3.31.6-msvc6/CompilerIdCXX/CMakeCXXCompilerId.obj
out/build/x64-Debug/CMakeFiles/cmake.check_cache
out/build/x64-Debug/CMakeFiles/CMakeConfigureLog.yaml
out/build/x64-Debug/CMakeFiles/rules.ninja
out/build/x64-Debug/CMakeFiles/ShowIncludes/foo.h
out/build/x64-Debug/CMakeFiles/ShowIncludes/main.c
out/build/x64-Debug/CMakeFiles/ShowIncludes/main.obj
out/build/x64-Debug/CMakeFiles/TargetDirectories.txt
out/build/x64-Debug/common/cmake_install.cmake
out/build/x64-Debug/common/CMakeFiles/common_shared.dir/application/Application.cpp.obj
out/build/x64-Debug/common/CMakeFiles/common_shared.dir/application/Application.cpp.obj.ddi
out/build/x64-Debug/common/CMakeFiles/common_shared.dir/application/Application.cpp.obj.modmap
out/build/x64-Debug/common/CMakeFiles/common_shared.dir/common_shared.pdb
out/build/x64-Debug/common/CMakeFiles/common_shared.dir/CXX.dd
out/build/x64-Debug/common/CMakeFiles/common_shared.dir/CXXDependInfo.json
out/build/x64-Debug/common/CMakeFiles/common_shared.dir/CXXModules.json
out/build/x64-Debug/common/CMakeFiles/common_shared.dir/renderer/Renderer.cpp.obj
out/build/x64-Debug/common/CMakeFiles/common_shared.dir/renderer/Renderer.cpp.obj.ddi
out/build/x64-Debug/common/CMakeFiles/common_shared.dir/renderer/Renderer.cpp.obj.modmap
out/build/x64-Debug/common/CMakeFiles/common_shared.dir/ui/backend/UIBackend.cpp.obj
out/build/x64-Debug/common/CMakeFiles/common_shared.dir/ui/backend/UIBackend.cpp.obj.ddi
out/build/x64-Debug/common/CMakeFiles/common_shared.dir/ui/backend/UIBackend.cpp.obj.modmap
out/build/x64-Debug/common/CMakeFiles/common_shared.dir/utility/safe_queue/SafeQueue.cpp.obj
out/build/x64-Debug/common/CMakeFiles/common_shared.dir/utility/safe_queue/SafeQueue.cpp.obj.ddi
out/build/x64-Debug/common/CMakeFiles/common_shared.dir/utility/safe_queue/SafeQueue.cpp.obj.modmap
out/build/x64-Debug/common/CMakeFiles/common_shared.dir/window/Window.cpp.obj
out/build/x64-Debug/common/CMakeFiles/common_shared.dir/window/Window.cpp.obj.ddi
out/build/x64-Debug/common/CMakeFiles/common_shared.dir/window/Window.cpp.obj.modmap
out/build/x64-Debug/common/common_shared.lib
out/build/x64-Debug/external/cmake_install.cmake
out/build/x64-Debug/external/CMakeFiles/imgui_lib.dir/CXX.dd
out/build/x64-Debug/external/CMakeFiles/imgui_lib.dir/CXXDependInfo.json
out/build/x64-Debug/external/CMakeFiles/imgui_lib.dir/CXXModules.json
out/build/x64-Debug/external/CMakeFiles/imgui_lib.dir/imgui/backends/imgui_impl_glfw.cpp.obj
out/build/x64-Debug/external/CMakeFiles/imgui_lib.dir/imgui/backends/imgui_impl_glfw.cpp.obj.ddi
out/build/x64-Debug/external/CMakeFiles/imgui_lib.dir/imgui/backends/imgui_impl_glfw.cpp.obj.modmap
out/build/x64-Debug/external/CMakeFiles/imgui_lib.dir/imgui/backends/imgui_impl_vulkan.cpp.obj
out/build/x64-Debug/external/CMakeFiles/imgui_lib.dir/imgui/backends/imgui_impl_vulkan.cpp.obj.ddi
out/build/x64-Debug/external/CMakeFiles/imgui_lib.dir/imgui/backends/imgui_impl_vulkan.cpp.obj.modmap
out/build/x64-Debug/external/CMakeFiles/imgui_lib.dir/imgui/imgui.cpp.obj
out/build/x64-Debug/external/CMakeFiles/imgui_lib.dir/imgui/imgui.cpp.obj.ddi
out/build/x64-Debug/external/CMakeFiles/imgui_lib.dir/imgui/imgui.cpp.obj.modmap
out/build/x64-Debug/external/CMakeFiles/imgui_lib.dir/imgui/imgui_draw.cpp.obj
out/build/x64-Debug/external/CMakeFiles/imgui_lib.dir/imgui/imgui_draw.cpp.obj.ddi
out/build/x64-Debug/external/CMakeFiles/imgui_lib.dir/imgui/imgui_draw.cpp.obj.modmap
out/build/x64-Debug/external/CMakeFiles/imgui_lib.dir/imgui/imgui_tables.cpp.obj
out/build/x64-Debug/external/CMakeFiles/imgui_lib.dir/imgui/imgui_tables.cpp.obj.ddi
out/build/x64-Debug/external/CMakeFiles/imgui_lib.dir/imgui/imgui_tables.cpp.obj.modmap
out/build/x64-Debug/external/CMakeFiles/imgui_lib.dir/imgui/imgui_widgets.cpp.obj
out/build/x64-Debug/external/CMakeFiles/imgui_lib.dir/imgui/imgui_widgets.cpp.obj.ddi
out/build/x64-Debug/external/CMakeFiles/imgui_lib.dir/imgui/imgui_widgets.cpp.obj.modmap
out/build/x64-Debug/external/CMakeFiles/imgui_lib.dir/imgui_lib.pdb
out/build/x64-Debug/external/glfw/cmake_install.cmake
out/build/x64-Debug/external/glfw/cmake_uninstall.cmake
out/build/x64-Debug/external/glfw/CMakeFiles/Export/f367bd07922f2ecfc14cf5547f1f7c4e/glfw3Targets-debug.cmake
out/build/x64-Debug/external/glfw/CMakeFiles/Export/f367bd07922f2ecfc14cf5547f1f7c4e/glfw3Targets.cmake
out/build/x64-Debug/external/glfw/src/cmake_install.cmake
out/build/x64-Debug/external/glfw/src/CMakeFiles/glfw.dir/context.c.obj
out/build/x64-Debug/external/glfw/src/CMakeFiles/glfw.dir/egl_context.c.obj
out/build/x64-Debug/external/glfw/src/CMakeFiles/glfw.dir/glfw.pdb
out/build/x64-Debug/external/glfw/src/CMakeFiles/glfw.dir/init.c.obj
out/build/x64-Debug/external/glfw/src/CMakeFiles/glfw.dir/input.c.obj
out/build/x64-Debug/external/glfw/src/CMakeFiles/glfw.dir/monitor.c.obj
out/build/x64-Debug/external/glfw/src/CMakeFiles/glfw.dir/null_init.c.obj
out/build/x64-Debug/external/glfw/src/CMakeFiles/glfw.dir/null_joystick.c.obj
out/build/x64-Debug/external/glfw/src/CMakeFiles/glfw.dir/null_monitor.c.obj
out/build/x64-Debug/external/glfw/src/CMakeFiles/glfw.dir/null_window.c.obj
out/build/x64-Debug/external/glfw/src/CMakeFiles/glfw.dir/osmesa_context.c.obj
out/build/x64-Debug/external/glfw/src/CMakeFiles/glfw.dir/platform.c.obj
out/build/x64-Debug/external/glfw/src/CMakeFiles/glfw.dir/vulkan.c.obj
out/build/x64-Debug/external/glfw/src/CMakeFiles/glfw.dir/wgl_context.c.obj
out/build/x64-Debug/external/glfw/src/CMakeFiles/glfw.dir/win32_init.c.obj
out/build/x64-Debug/external/glfw/src/CMakeFiles/glfw.dir/win32_joystick.c.obj
out/build/x64-Debug/external/glfw/src/CMakeFiles/glfw.dir/win32_module.c.obj
out/build/x64-Debug/external/glfw/src/CMakeFiles/glfw.dir/win32_monitor.c.obj
out/build/x64-Debug/external/glfw/src/CMakeFiles/glfw.dir/win32_thread.c.obj
out/build/x64-Debug/external/glfw/src/CMakeFiles/glfw.dir/win32_time.c.obj
out/build/x64-Debug/external/glfw/src/CMakeFiles/glfw.dir/win32_window.c.obj
out/build/x64-Debug/external/glfw/src/CMakeFiles/glfw.dir/window.c.obj
out/build/x64-Debug/external/glfw/src/glfw3.lib
out/build/x64-Debug/external/glfw/src/glfw3.pc
out/build/x64-Debug/external/glfw/src/glfw3Config.cmake
out/build/x64-Debug/external/glfw/src/glfw3ConfigVersion.cmake
out/build/x64-Debug/external/imgui_lib.lib
out/build/x64-Debug/server/cmake_install.cmake
out/build/x64-Debug/server/CMakeFiles/sLink_Server.dir/CXXDependInfo.json
out/build/x64-Debug/Testing/Temporary/LastTest.log
out/build/x64-Debug/VSInheritEnvironments.txt
/.vs/sLink
/out/build/x64-Debug/.cmake/api/v1/reply
/out/build/x64-Debug/common/CMakeFiles/common_shared.dir/message
